<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Has sido etiquedado por <%= @from%>!</p>
    <p>
    Mensaje<br>
    --------------------------
    </p>
    <p><%= @content %></p>

  </body>
</html>
